/* HEADER */
.vfrc-header { font-size: 20px !important; }
.vfrc-assistant-info { font-size: 95% !important; }
.vfrc-assistant-info--title { font-size: 95% !important; }
.vfrc-assistant-info--description { font-size: 95% !important; }
.vfrc-avatar { transform: scale(0.95) !important; }
.vfrc-icon { transform: scale(0.95) !important; }

/* CHAT BODY */
.vfrc-chat { font-size: 95% !important; }
.vfrc-chat--dialog { font-size: 95% !important; }
.vfrc-chat--spacer { font-size: 95% !important; }
.vfrc-chat--session-time { font-size: 95% !important; }
.vfrc-chat--status { font-size: 95% !important; }
.vfrc-message { font-size: 95% !important; }
.vfrc-timestamp { font-size: 95% !important; }

/* ASSISTANT RESPONSES */
.vfrc-system-response--indicator { font-size: 95% !important; }
.vfrc-system-response { font-size: 95% !important; }
.vfrc-system-response--controls { font-size: 95% !important; }
.vfrc-system-response--list { font-size: 95% !important; }
.vfrc-system-response--actions { font-size: 95% !important; }
.vfrc-button { font-size: 95% !important; }
.vfrc-image { transform: scale(0.95) !important; }
.vfrc-image--background { transform: scale(0.95) !important; }
.vfrc-card--content { font-size: 95% !important; }
.vfrc-card--header { font-size: 95% !important; }
.vfrc-card--description { font-size: 95% !important; }
.vfrc-carousel { transform: scale(0.95) !important; }
.vfrc-carousel--button { transform: scale(0.95) !important; }
.vfrc-system-response .vfrc-message { font-size: 95% !important; }
.vfrc-system-response .vfrc-button { font-size: 95% !important; }

/* USER RESPONSES */
.vfrc-user-response { font-size: 95% !important; }
.vfrc-user-response .vfrc-message { font-size: 95% !important; }

/* FOOTER */
.vf-footer { font-size: 10px  !important; }
.jsli365 { font-size: 10px !important; }
